html{
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	background-color: #f6f6e6;
	position: relative;
}
#wrapper {
	width: 900px;
	height: 400px;
	position: static;
	left: 50%;
    top: 50%;
    width: 75%;
    display: block;
    margin: 0 auto;

}
#carousel img {
	display: block;
	float: left;
	border: none;
	position: relative;
}
#map {
	width: 900px;
	height: 400px;
	position: static;
	left: 0%;
    top: 50%;
    width: 100%;
    display: block;
     margin: 10px;
	text-align: center;
}
#footer{
    position: static;
    margin: 110px;
}
