/* Add a gray background color and some padding to the footer #f2f2f2;*/
    footer {
      background-color: black;
	  color: gray;
      padding: 10px;
    }

    .carousel-inner img {
      width: 100%; /* Set width to 100% */
      min-height: 200px;
    }

    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
      .carousel-caption {
        display: none; 
      }
    }
	
	#logo{
		//height: 100%; 
		//width: 100%; 
		//transparent: true;
		
		//margin-top: -3px;
		//margin-left: 5px;
	}
	
	.container{
		margin-top: 70px;
		//margin-left: 5px;
	}
	
	.navbar-brand{
		padding-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
	}
	/* END STYLE OF THE MAIN PAGE */
	
	/* ================================
		STYLE OF THE NEWS FEEDS 
		==============================
	*/
	@import url("gfdynamicfeedcontrol.css");

    body {
      background-color: white;
      color: black;
      font-family: Arial;
      font-size: small;
      margin: 0;
    }
	
	/*frame size*/
    #feedGadget { 
      
      margin-left: 20px;
      width : 350px;
      font-size: 12px;
      color: #9CADD0;
    }
	
	/*detail font*/
    #feedGadget .gfg-root {
      font-size : 12px;
    }
    #feedGadget .gfg-root .gfg-entry .gf-result {
      padding-left : 10px;
    }
	
	
    #feedGadget .gfg-title {
      text-align: center;
	  font-size : 15px;
      background-color : black; //#DDEDD1;
      color : white;//#4E8029;
    }
    #feedGadget .gfg-title a {
      color : #4E8029;
    }
    #feedGadget .gfg-subtitle {
      font-size : 13px;
      background-color : #ffffff;
      color : #203311;
      text-align : left;
      margin-left : 5px;
    }
    #feedGadget .gfg-subtitle a {
      color : #203311;
    }
    #feedGadget .gf-title {
      font-size : 13px;
    }
    #feedGadget .gf-title a{
      color : #4E8029;
    }
    #feedGadget .gfg-root .gfg-listentry {
      padding-left : 5px;
      margin-right : 5px;
    }
    #feedGadget .gfg-root .gfg-listentry a {
      color : #4E8029;
    }
    #feedGadget .gfg-root .gfg-listentry a:hover {
      color : #203311;
    }
    #feedGadget .gfg-root .gfg-listentry-odd {
      background-color : #ffffff;
    }
    #feedGadget .gfg-root .gfg-listentry-highlight {
      border-left: 2px solid #203311;
      padding-left : 3px;
      background-image : none;
    }
	
	/*
		================================
		================================
		Drop down menu
		================================
		================================
	*/
	
	
	.dropdown-menu > li.kopie > a {
    padding-left:5px;
	}
	 
	.dropdown-submenu {
		position:relative;
	}
	.dropdown-submenu>.dropdown-menu {
	   top:0;left:100%;
	   margin-top:-6px;margin-left:-1px;
	   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
	 }
	  
	.dropdown-submenu > a:after {
	  border-color: transparent transparent transparent #333;
	  border-style: solid;
	  border-width: 5px 0 5px 5px;
	  content: " ";
	  display: block;
	  float: right;  
	  height: 0;     
	  margin-right: -10px;
	  margin-top: 5px;
	  width: 0;
	}
	 
	.dropdown-submenu:hover>a:after {
		border-left-color:#555;
	 }

	.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
	  text-decoration: underline;
	}  
	  
	@media (max-width: 767px) {

	  .navbar-nav  {
		 display: inline;
	  }
	  .navbar-default .navbar-brand {
		display: inline;
	  }
	  .navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	  }
	  .navbar-default .navbar-nav .dropdown-menu > li > a {
		color: red;
		background-color: #ccc;
		border-radius: 4px;
		margin-top: 2px;   
	  }
	   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
		 color: #333;
	   }
	   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		 background-color: #ccc;
	   }

	   .navbar-nav .open .dropdown-menu {
		 border-bottom: 1px solid white; 
		 border-radius: 0;
	   }
	  .dropdown-menu {
		  padding-left: 10px;
	  }
	  .dropdown-menu .dropdown-menu {
		  padding-left: 20px;
	   }
	   .dropdown-menu .dropdown-menu .dropdown-menu {
		  padding-left: 30px;
	   }
	   li.dropdown.open {
		border: 0px solid red;
	   }

	}
 
	@media (min-width: 768px) {
	  ul.nav li:hover > ul.dropdown-menu {
		display: block;
	  }
	  #navbar {
		text-align: center;
	  }
	}

	/* Dropdown logo */
	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown-content {
		margin-top: 6px;
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		color: black;
	}
	

	.dropdown:hover .dropdown-content {
		display: block;
	}

	.desc {
		padding: 15px;
		text-align: center;
	}	
	
